# Database Connection String for Prisma
# ----------------------------------------------------
# For Neon PostgreSQL:
# DATABASE_URL="postgresql://[user]:[password]@[endpoint]-pooler.[region].aws.neon.tech/neondb?sslmode=require"
# DIRECT_URL="postgresql://[user]:[password]@[endpoint].[region].aws.neon.tech/neondb?sslmode=require"

# For Supabase PostgreSQL:
# DATABASE_URL="postgresql://postgres:[PASSWORD]@db.[REF].supabase.co:6543/postgres?pgbouncer=true"
# DIRECT_URL="postgresql://postgres:[PASSWORD]@db.[REF].supabase.co:5432/postgres"

# For Local Development:
DATABASE_URL="postgres://postgres:postgres@localhost:5432/lalapan_cak_bud?schema=public"
DIRECT_URL="postgres://postgres:postgres@localhost:5432/lalapan_cak_bud?schema=public"

JWT_SECRET="your_jwt_secret_key_here"
JWT_EXPIRES_IN="1d"
PORT=3000
